{%extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{%block extra_css%}
<link href="{%static 'css/createtopic/create-form.css'%}" rel='stylesheet'>
{%endblock%}

{% block content %}
  <form method="post">
    <h2>Змінити пароль</h2>
    {% csrf_token %}
    {%if token_fail %}
    <p>Посилання застаріле, або невірне, будь ласка повторіть спробу поновлення паролю</p>
    {%else %}
    <p>
      {{ form.password1 }}
    </p>
    <p>
      {{ form.password2 }}
    </p>
    <div>
      {{form.errors.password1}}
      {{form.errors.password2}}
    </div>
    <p class='d-flex flex-row align-items-center '></p>
    
    <button type="submit" class="btn btn-outline-success">Зберегти</button>
    {%endif%}
  </form>

  
{% endblock %}