{%extends 'base.html' %}
{% load static %}
{% load socialaccount %}

{%block extra_css%}
<link href="{%static 'css/createtopic/create-form.css'%}" rel='stylesheet'>
{%endblock%}

{% block content %}
  <form method="post">
    <h2>Відновлення паролю</h2>
    {% csrf_token %}
    <p>
        <label>Email</label>
        {{form.email}}
    </p>
    <p class='d-flex flex-row align-items-center '>Ми відправимо вам лист з посиланням для зміни паролю</p>
    
    <button type="submit" class="btn btn-outline-success">Відновити</button>
  </form>

  
{% endblock %}