<header class="p-3 bg-dark align-items-center w-100">
    <div class="container align-items-center">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">


        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link">Головна</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input type="search" class="form-control form-control-white text-bg-dark" placeholder="Пошук" aria-label="Search">
        </form>

        <div class="text-end">
          {% if not user.is_authenticated %}
          <a href='{% url "account_login" %}'><button type="button" class="btn btn-outline-success me-2">Вхід</button></a>
          <a href='{% url "account_signup" %}'><button type="button" class="btn btn-warning">Реєстрація</button></a>
          {% else %}
          <a href='{% url "my-profile" %}'><button type="button" class="btn btn-success">Профіль</button></a>
          <a href='{% url "account_logout" %}'><button type="button" class="btn btn-outline-danger">Вихід</button></a>
          {% endif %}
        </div>

      </div>
    </div>
  </header>